<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand ga-font" id="ga-color" href="/thread">The Forum</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/threads/new">New Thread <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a href="/threads/trending">Trending</a>
        </li>
      </ul>
    </div>
    <div class="pull-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Logout</a>
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div id="threadMaking">
<form action="/threads/<%= thread._id %>/edit?_method=PATCH" method="post">
  <div class="form-group">
    <label for="threadTitle" class="sr-only">Title</label>
    <p class="form-control-static"><%= thread.title %></p>
  </div>
  <div class="form-group">
    <label for="threadBody">Body</label>
    <textarea class="form-control"
              id="threadBody"
              rows="6"
              name="thread[body]"
              placeholder="Write your thoughts..">
              <%= thread.body %>
    </textarea>
  </div>
  <button type="submit" class="btn btn-success">Edit your thoughts!</button>
</form>
<h6>
  Back to <a href="/threads/<%= thread._id %>">Thread</a>
</h6>
</div>
