<h1> Welcome </h1>
<% threads.forEach(function (thread, i) { %>
  <div class = "thread">
    <h3>
      <a href="/threads/<%= thread._id %>"><%= thread.title %> </a>
    </h3>
  </div>
<% }) %>
<h4>
  <a href="/threads/new"> Make a new thread</a>
</h4>
<h6>
  <a href="/login">Log in</a>
</h6>
