<form action="/" method="get">
  <input type="text"
         name="user[name]"
         placeholder="username"></br>
  <input type="text"
         name="user[password]"
         placeholder="password"></br>
  <input type="submit" value="Log in">
</form>
<h6>
  Don't have an account?
  <a href="/register"> Register Now!</a>
</h6>
