<div class="newthread">
  <form action="/thread" method="post">
    <input type="text"
           name="thread[title]"
           placeholder="title"><br/>
    <input class="textbody" type="text"
           name="thread[body]"
           placeholder="body"><br/>
    <input type="submit"
           value="Post Thread"/>
    <input type="hidden"
           value="<%= author %>">
  </form>
</div>
