<form action="/" method="post">
  <input type="text"
         name="thread[name]"
         placeholder="name"><br/>
  <input type="text"
         name="thread[author]"
         placeholder="author"><br/>
</form>
