<div class="newthread">
  <form action="/" method="post">
    <input type="text"
           name="thread[title]"
           placeholder="title"><br/>
    <input type="text"
           name="thread[author]"
           placeholder="author"><br/>
    <input class="textbody" type="text"
           name="thread[body]"
           placeholder="body"><br/>
    <input type="submit"
           value="Post Thread"/>
  </form>
</div>
