<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand ga-font" id="ga-color" href="/">The Forum</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="pull-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="/login">Log in</a>
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<form action="/register" id="login" method="post">
  <div class="form-group">
    <label for="registerUsername">Desired Username</label>
    <input type="text"
           class="form-control"
           id="registerUsername"
           name="user[username]"
           placeholder="Desired Username">
  </div>
  <div class="form-group">
    <label for="registerPassword">Password</label>
    <input type="password"
           class="form-control"
           id="registerPassword"
           name="user[password]"
           placeholder="Password">
  </div>
    <button type="submit" class="btn btn-primary">Register</button>
  <h6>
    Back to <a href="/">Homepage</a>
  </h6>
</form>
