<div class="register">
  <form action="/register" method="post">
    <input type="text"
          name="user[username]"
          placeholder="desired username"></br>
          <input type="text"
          name="user[password]"
          placeholder="desired password"></br>
          <input type="submit" value="Register">
  </form>
</div>
