<form action="/" method="post">
  <input type="text"
         name="user[name]"
         placeholder="username"></br>
  <input type="text"
         name="user[password]"
         placeholder="password"></br>
  <input type="submit" value="Register">
</form>         
