<form action="/" method="post">
  <input type="text"
         name="user[name]"
         placeholder="desired username"></br>
  <input type="text"
         name="user[password]"
         placeholder="desired password"></br>
  <input type="submit" value="Register">
</form>
