body {
  background: #BCED91;
}

.form-control {
  width: 80%;
}

#login {
  margin-left: 1em;
  margin-top: 1em;
}

#threadMaking {
  margin-left: 1em;
  margin-top: 1em;
}

#specificthread {
  margin-left: 1em;
}

.thread {
  background-color: #ff4c4c;
  /*background-color: #ff6666*/
  margin-left: 1em;
  margin-right: 10em;
}

.button {
  float: left;
  margin-left: 1em;
  margin-right: 0.5em;
  margin-top: 1em;
}

.buttons {
  float: left;
  margin-left: 0.5em;
  margin-top: 1em;
}

.threadName {
  color: pink;
}

.comment {
  color: white;
}

.threadTitle {
  font-size: 1.2em;
}

.threadAuthor {
  font-size: 0.8em;
}

.threadDate {
  font-size: 0.6em;
}

.threadBody {
  font-size: 1em;
}

.commentButton {
  margin: 1em;
}

.comments {
  margin-left: 1em;
}
