body {
  /*background: #50C878;*/
  background: black;
}

.form-control {
  width: 80%;
}

#login {
  margin-left: 1em;
  margin-top: 1em;
}

#threadMaking {
  margin-left: 1em;
  margin-top: 1em;
}

#specificthread {
  margin-left: 5em;
  margin-right: 5em;
}

.thread {
  /*background-color: #c850a0;*/
  margin-left: 3em;
  margin-right: 10em;
}

.button {
  float: left;
  margin-left: 1em;
  margin-right: 0.5em;
  margin-top: 1em;
}

.buttons {
  float: left;
  margin-left: 0.5em;
  margin-top: 1em;
}

.threadName {
  color: #3232ff;
}

.comment {
  color: #3232ff;
}

/*.threadTitle {
  font-size: 30px;
}*/

.threadAuthor {
  font-size: 12px;
}

.threadDate {
  font-size: 10px;
}

.threadBody {
  font-size: 20px;
}

.commentButton {
  margin: 1em;
}

/*.comments {
  margin-left: 1em;
}*/

.commentHeader {
  font-size: 14px;
}

.commentBody {
  font-size: 12px;
  color: white;
}

.commentAuthor {
  font-size: 16px;
  color: #3232ff;
}

#commentSection {
  margin-left: 6em;
  margin-right: 6em;
}

.each-comment {
  border: 1px solid gray;
}

form#likes {
  display: inline-block;
}

.firstButton {
  margin-left: 6em;
}

textarea.comments {
  width: 550px;
  height: 120px;
}

h2.threadBody {
  margin-left: 0.5em;
  color: white;
  border: 1px solid gray;
  padding: 0.5em;
}

a:hover {
  text-decoration: none;
}

a.threadNameLink {
  color: #3232ff;
  text-decoration: none;
}

a.threadNameLink:hover {
  color: silver;
}

h3.likeDisplay {
  /*color:#F2F2F2;*/
  color: gray;
  margin-bottom: 0;
}

.thread > h6 {
  margin-top: 0;
}

.thread > span {
  font-size: 0.8em;
}

.thread-author {
  color: #3232ff;
}
